<template>
  <div>
    <h1 class="mb-4 text-center">Todo List</h1>
    <img
      alt="Laravel logo"
      src="@/assets/laravel.png"
      class="logo"
      style="max-width: 200px"
    >
    <span class="plus">+</span>
    <img
      alt="Vue logo"
      src="@/assets/vue.png"
      class="logo"
      style="max-width: 150px"
    >
  </div>
</template>

<style lang="stylus">
  .plus
    margin: 0px 40px 0 50px
    font-size: 50px
    font-weight: bold
</style>
